services:
  nextjs:
    build: .
    container_name: Edusphere-AI
    ports:
      - "3000:3000"
    restart: always
    environment:
      NODE_ENV: production
      PORT: 3000
    env_file:
      - .env
